* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Poppins;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 20px 20px 0;
    border-radius: 50%;
    font-size: 14px;
    padding: 5px 7px;
    background-color: tomato;
    transition: .2s;
    cursor: pointer;
}

.fixed:hover {
    transform: scale(.95);
}

.container {
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

i {
    font-size: 32px;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.obs {
    font-size: 12px;
    color: tomato;
}

.icon-cart {
    position: relative;
    cursor: pointer;
}

.icon-cart span {
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: -50%;
    right: -10px;
    pointer-events: none;
}

.title {
    font-size: xx-large;
}

.listProduct {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listProduct>div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 75px;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.listProduct .item {
    background-color: #f8f8dd;
    box-shadow: 0 5px 3px 0 #555;
    padding: 0 5px;
}

.listProduct .item .price {
    font-size: small;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    font-size: 24px;
    border: none;
    padding: 5px 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: .2s;
}

.listProduct .item button:hover {
    transform: scale(.95);
}

.cartTab {
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showCart .cartTab {
    right: 0;
}

body.showCart .container {
    transform: translateX(-250px);
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab button {
    background-color: #e8bc0e;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}

.cartTab .close {
    background-color: #eee;
}

.listCart .item {
    display: grid;
    grid-template-columns: 200px 70px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
    height: 100px;
}

.listCart .quantity span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2) {
    background-color: transparent;
    color: #eee;
    cursor: auto;
}

.listCart .item:nth-child(even) {
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar {
    width: 0;
}


/* Toast Test */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }