body {
    max-width: 1440px;
    height: 100vh;
    background-image: url(../img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--pale-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: var(--very-pale-blue);
}

.container .hero {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.container .descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .descricao h1 {
    font-size: 20px;
    color: var(--dark-blue);
    margin: 35px 0 15px 0;
}

.container .descricao p {
    text-align: center;
    max-width: 75%;
    font-size: 13px;
    color: var(--desatured-blue);
    margin-bottom: 15px;
}

.container .plano {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: hsl(225, 90%, 96%);
}

.container .plano img {
    width: 35px;
}

.container .plano .tipo-valor {
    margin: 0 60px 0 20px;
}

.container .plano a {
    font-size: 11px;
    font-weight: 700;
    color: var(--bright-blue);
    transition: .3s ease-in-out;
}

.container .plano a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 62%);
}

.container .plano h4 {
    font-size: 13px;
    font-weight: 900;
    margin-bottom: 3px;
    color: var(--dark-blue);
}

.container .plano p {
    font-size: 12px;
    color: var(--desatured-blue);
}

.container .btn-avancar {
    width: 80%;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    background-color: var(--bright-blue);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 12px;
    box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.2);
    transition: .3s ease-in-out;
}

.container .btn-avancar:hover {
    background-color: hsl(245, 75%, 62%);
}

.container .btn-cancelar {
    text-decoration: none;
    color: var(--desatured-blue);
    font-size: 12px;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.container .btn-cancelar:hover {
    color: black;
    font-weight: 900;
    transform: scale(1.03);
}