:root {
    --Green: hsl(75, 94%, 57%)
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
}

img {
    border-radius: 50%;
    width: 85px;
}

h2 {
    color: #fff;
    margin-bottom: 0;
}

p {
    color: #fff;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 100;
}

h4 {
    font-size: 12px;
    color: var(--Green);
}