* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 626px;
    height: 486px;
    margin: 64px 0 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    width: 350px;
    height: 238px;
    margin-bottom: 32px;
}

main h1 {
    font-family: Dosis;
    font-size: 32px;
    margin-bottom: 16px;
}

main h1 span {
    color: #EE24FF;
}

main p {
    font-family: "Open Sans";
    color: #828282;
    font-size: 15px;
    line-height: 22px;
    width: 540px;
    text-align: center;
}

main p span {
    font-weight: bold;
}

main p strong {
    color: #3F3D56;
}

main p {
    margin-bottom: 32px;
}

p:last-child {
    margin-bottom: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .line {
    width: 391px;
    border: 1px solid #eceff2;
    margin-bottom: 16px;
}

footer .links {
    display: flex;
    gap: 42px;
}

footer .links a {
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold;
    color: #3F3D56;
    margin-bottom: 40px;
}

footer img {
    position: fixed;
    bottom: 0;
}